.main-container {
  width: 80%;
  min-width: 900px;
  border: solid 2px #DEDEDE;
  border-radius: 6px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  padding: 18px;
  font-weight: normal;
}

table td {
  border-bottom: 1px solid #ddd;
  background-color: white;
  color: #393939;
}


table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #F6F6F6;
  color: #9A9A9A;
}

.checkbox-body{
  text-align: center;
}

.left-aligned-cell{
  text-align: left;
}

.center-aligned-cell{
  text-align: center;
}

.right-aligned-cell{
  text-align: right;
}

.control-panel{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}