.main-container {
  width: 80%;
  min-width: 900px;
  border: solid 2px #DEDEDE;
  border-radius: 6px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  padding: 18px;
  font-weight: normal;
}

table td {
  border-bottom: 1px solid #ddd;
  background-color: white;
  color: #393939;
}


table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #F6F6F6;
  color: #9A9A9A;
}


table :not(th:nth-child(7))
{
  text-align: left;
}

table th:nth-child(7),
table td:nth-child(7)
{
  text-align: right;
}

table th:nth-child(6),
table td:nth-child(6)
{
  text-align: center;
}


